body {
  margin: 0;
  padding: 0;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  height: 30px;
  background-color: aquamarine;
  height: 30px;
  display: flex;
  align-items: center;
}

nav > h3 {
  margin: 0;
}

#blog-list {
  padding:
    30px,
    10px 10px;
}
